.bg-hero{
    background-image: url(../../img/gradient-background.jpg);
    background-size: cover;
    background-position: top; 
    background-repeat: no-repeat; 
}

/* @media (max-width: 991.98px) {
    .bg-hero{
        background-image: url(../../img/header-pic-background2.jpg);
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat; 

    }
} */

