.franchising-card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  object-position: center;
    
}

.card-size{
    max-width: 350px;
    height: 250px;
    
}

.image-overlay{
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
}