* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(255, 250, 250, 1) 100%); 
}

.btn-danger, .btn-outline-danger{
  background-color: #b62525;
  border-color: #b62525;
}

:root{
  --bs-danger: #b62525;
  --bs-red: #b62525;
  --bs-danger-rgb: 182, 37, 37;
  --bs-info: #232b37;
  --bs-info-rgb: 35, 43, 55;
}

html {
  scroll-behavior: smooth;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
  .custom-x-padding{
    padding-left: 5rem;
    padding-right: 5rem;
  }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .custom-x-padding{
    padding-left: 6rem;
    padding-right: 6rem;
  }

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  .custom-x-padding{
    padding-left: 10rem;
    padding-right: 10rem;
  }

 }