.carousel-img{
    width: auto;
    height: 300px;
    object-fit: contain;

}

.accordion-button{
    background-color: transparent;
    color: rgb(0, 0, 0);
}

.list-group-item.active {
    background-color: #b62525 !important;
    border-color: #b62525 !important;
    border-radius: 20px !important;
  }
  

